.boxes-list
{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}
@media screen and (max-width: 991px)
{
  .boxes-list
  {
    max-width: 620px;
  }
}
@media screen and (max-width: 767px)
{
  .boxes-list
  {
    max-width: 320px;
  }
}
